body{
    background-color: black;
    font-family: fantasy;
    text-align: center;
    color: yellowgreen;
}

h1{
    text-align: left;
}

p{
    text-align: center;
}


h3{
    font-weight: 10;
}


img{
    
    width: 400;
    height: 200px;
    border-radius: 50%;
}

button{
    background-color: red;
    border: 2px rgb(7, 235, 75) solid;
    
    
}
a{
    color: yellow;
    
}

div{
    padding: 40px;
}

footer{
    text-align: left;
    color: rgb(93, 90, 90);
    border: 2px solid red;
}